/* Overall theme */
.dark-mode {
    background: #42413c;
    color: #faf9f5;
}

.dark-mode .navbar {
    background:#1c1c1c;
    color: #faf9f5;
    border-bottom: 1px solid gray;
    text-decoration: none;
}


/* Top bar */
.navbar {
    background: #f8f9fa;
    border-bottom: 1px solid #dee2e6;

    justify-content: unset;
}

nav .navbar-brand .green
{
    /* size for brand */
    font-size: xx-large;

    /* color for brand */
    color: #2e944b;
    font-family: 'Permanent Marker', cursive;
}


/* Items in top bar */
.nav-link {
    padding: 5px;
}

#plus {
    margin-left: auto;
}

.dropdown-menu {
    background: #333;
}

.dropdown-item > img {
    /* Aligning avatar inside notification */
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}

.dropdown-item {
    padding: 0.5rem;
    max-width: 220px;
    font-size: clamp(10px, 12px, 14px);
    color: #eee;
}

.navbar-toggler {
    margin-left: 1rem;
    padding: 0;
}


/* Main block universal styles */
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* Buttons */

.btn-primary {
background: #2e944b;
border-color: #086708;
}

.menu-button {
    border-radius: 0!important;
}

.btn.focus, .btn:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}