/* Overall theme */
.dark-mode {
    background: #42413c;
    color: #faf9f5;
}

.dark-mode .navbar {
    background:#1c1c1c;
    color: #faf9f5;
    border-bottom: 1px solid gray;
    text-decoration: none;
}


/* Top bar */
.navbar {
    background: #f8f9fa;
    border-bottom: 1px solid #dee2e6;

    justify-content: unset;
}

nav .navbar-brand .green
{
    /* size for brand */
    font-size: xx-large;

    /* color for brand */
    color: #2e944b;
    font-family: 'Permanent Marker', cursive;
}


/* Items in top bar */
.nav-link {
    padding: 5px;
}

#plus {
    margin-left: auto;
}

.navbar-toggler {
    margin-left: 1rem;
    padding: 0;
}

.navbar-toggler img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.custom-select {
    background: #fff;
 }


/* Main block universal styles */
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.table td, .table th {
    vertical-align: middle;
}

/* Buttons */

.btn-primary {
background: #2e944b;
border-color: #086708;
}

.menu-button {
    border-radius: 0!important;
}

.btn.focus, .btn:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}


/* modals */
.modal-dialog-centered {
    align-items: inherit;

}

.modal-backdrop {
    z-index: 1000!important;
}

.modal-content {
    background: #42413c;
    color: #faf9f5;
}

.modal-header {
    border: None;
}

.modal-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    margin: inherit;
}

/* Avatars */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #000;
}

/* Feed bar */
#feed-bar {
    display: flex;
    justify-content: space-between;

    margin: 2rem 1rem 2rem 3rem;

    align-items: center;
    font-weight: bold;
}

.input-group {
    width: 50%;
}

.btn-outline-secondary {
    padding: 5px;
}


/* Cards */
.card {
    display: flex;
    margin: 1rem;
    background: #333;
    color: #eee;
    text-align: left;
    box-shadow: 1px 1px 2px 1px #000;
}

.card h5 {
    color: white;
}

#card-avatar {
    position: absolute;
}

.name {
    padding-bottom: 2rem;
    margin-left: 3.5rem;
    text-align: left;
    line-height: 0.5;
    font-weight: 500;
}

.card-title {
    font-weight: 700;
}

div.card-body img {
    margin: 0;
    padding: 0;
}