{% extends "layout.html" %}

{% block title %}
    Friends
{% endblock %}

{% block style %}
    <link href="/static/css/friends.css" rel="stylesheet">
{% endblock%}

{% block main %}
    <div class="d-flex">
        <button id="joined-btn" class="btn btn-primary menu-button flex-fill active" onclick="selectButton(event)">Friends</button>
        <button id="invited-btn" class="btn btn-primary menu-button flex-fill" onclick="selectButton(event)">Requests</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for friend in friends %}
                <tr class="w3-hover-green">
                    <td><img src="./static/img/user.svg" alt="avatar"></td>
<!--                    <td>{{ friend }}</td>-->
                    <td>{{ friend }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}<script src="static/scripts/scripts.js"></script>{% endblock %}