{% extends "layout.html" %}

{% block style %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock%}
{% block title %}
    Index
{% endblock %}

{% block main %}
    <div id="mybets" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            {% for bet in bets %}
                <li data-target="#mybets" data-slide-to="{{ bet.id }}" class="active"></li>
            {% endfor %}
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{bets[0].image}}" width="1100" height="500">
                <div class="carousel-caption">
                    <a href="/bet-page?bet_id={{ bets[0].id }}"><h3>{{ bets[0].title }}</h3></a>
                    <p>{{ bets[0].format }}</p>
                </div>
            </div>
            {% for bet in bets[1:] %}
                <div class="carousel-item">
                    <img src="{{bet.image}}" width="1100" height="500">
                    <div class="carousel-caption">
                        <a href="/bet-page?bet_id={{ bet.id }}"><h3>{{ bet.title }}</h3></a>
                        <p>{{ bet.format }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#mybets" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#mybets" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="card" style="text-align: center">
        <h1 style="font-weight: bold">WELCOME TO BETAUM! </h1>
        <p>Your platform to organize bets with friends.</p>
    </div>
    <div style="text-align: center">
        <h3>Some tips for new users:</h3>
        <ul style="margin: 2rem">
            <li style="margin-bottom: 10px">If your friend list is empty ask a friend for his unique ID.</li>
            <li style="margin-bottom: 10px">You can find your ID by looking at your profile URL.</li>
            <li style="margin-bottom: 10px">Replace the ID in your url to navigate between users</li>
            <li style="margin-bottom: 10px">Later you can add friends by clicking on their avatars in any page.</li>
        </ul>
    </div>
{% endblock %}
