{% extends "layout.html" %}

{% block title %}
    My Bets
{% endblock %}

{% block style %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock%}

{% block main %}
    <div id="feed-bar">
        <a class="navbar-brand">My Bets</a>
        <div class="input-group">
          <input id="search-input" type="text" onkeyup="filterSearch()" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" onclick="filterSearch()" type="button">
                <img src="../static/img/search.svg" alt="Search Icon">
            </button>
          </div>
        </div>
    </div>
    <div class="d-flex">
        <button id="joined-btn" class="btn btn-primary menu-button flex-fill active" onclick="selectButton(event), toggleDivs('joined-bets')">Joined</button>
        <button id="invited-btn" class="btn btn-primary menu-button flex-fill" onclick="selectButton(event), toggleDivs('invited-bets')">Invited</button>
    </div>
    <div id="joined-bets" class="bets">
        {% for bet in bets %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ bet.title}}</h5>
                    <h6 class="card-subtitle mb-2">{{ bet.requirements }} - {{ bet.format }}</h6>
                    <p class="card-text">{{ bet.date }} - {{ bet.address}}</p>
                    <form action="/my-bets" method="post">
                        <button class="btn btn-primary float-left" type="submit" name="bet" value="{{ bet.id }}">
                            <img src={{"../static/img/eye.svg"}} alt="Eye Icon">
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="invited-bets" class="bets d-none">
        {% for bet in inv_bets %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ bet.title}}</h5>
                    <h6 class="card-subtitle mb-2">{{ bet.requirements }} - {{ bet.format }}</h6>
                    <p class="card-text">{{ bet.date }} - {{ bet.address}}</p>
                    <form action="/my-bets" method="post">
                        <button class="btn btn-primary float-left" type="submit" name="bet" value="{{ bet.id }}">
                            <img src={{"../static/img/eye.svg"}} alt="Eye Icon">
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}<script src="static/scripts/scripts.js"></script>{% endblock %}