{% extends "layout.html" %}

{% block title %}
    New Bet
{% endblock %}

{% block style %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock%}

{% block main %}
    <div id="feed-bar">
        <a class="navbar-brand">My Bets</a>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
                <img src="../static/img/search.svg" alt="Search Icon">
            </button>
          </div>
        </div>
    </div>
    {% for bet in bets %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ bet.title}}</h5>
                <h6 class="card-subtitle mb-2">{{ bet.requirements }} - {{ bet.format }}</h6>
                <p class="card-text">{{ bet.date }} - {{ bet.address}}</p>
                <form action="/mybets" method="post">
                    <button class="btn btn-primary float-left" type="submit" name="bet" value="{{ bet.id }}">
                        <img src={{"../static/img/eye.svg"}} alt="Eye Icon">
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}
