{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block style %}
    <link href="/static/css/profile.css" rel="stylesheet">
{% endblock%}

{% block main %}
    <div class="profile-avatar">
        <img id="profile-avatar" src="static/uploads/avatars/{{ session.user_id }}.png">
    </div>
    <div class="profile-info">
        <h4 class="username">Guilherme Pirani</h4>
        <form action="/profile" method="POST">
            <button class="btn btn-primary add-friend" type="submit" >Add Friend</button>
        </form>
    </div>
    <hr>
    <div class="btn-group">
        <button class="btn btn-primary-group" data-toggle="modal" data-target="#friends-modal">Friends</button>
        <div class="modal" id="friends-modal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Friends</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {% for friend in friended_users %}
                            {{ friend }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary-group" data-toggle="modal" data-target="#achievements-modal">Achievements</button>
            <div class="modal" id="achievements-modal">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Achievements</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            SOON..
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="footer mt-5">
        <form action="/settings">
            <button class="btn btn-danger" type="submit">Settings</button>
        </form>
    </div>
{% endblock %}